[user]
	name = Saurav Maheshkar
	email = sauravvmaheshkar@gmail.com
[core]
    excludesfile = ~/.gitignore
[push]
	default = upstream
[pull]
	rebase = true
[init]
	defaultBranch = main
[color]
	ui = true
[commit]
	verbose = true
[rebase]
	autoStash = true
[checkout]
	defaultRemote = origin
[branch]
	sort = -committerdate
[github]
	user = SauravMaheshkar
[alias]
	s = status
	del = branch -D
	cob = checkout -b
	last = log -1 HEAD
	logs = log --show-signature
	branches = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

