[user]
	name = Saurav Maheshkar
	email = sauravvmaheshkar@gmail.com
[core]
    	excludesfile = ~/.gitignore
	fsmonitor = true
	untrackedcache = true
	commitgraph = true
[push]
	default = upstream
	autoSetupRemote = true
[pull]
	rebase = true
[fetch]
	writeCommitGraph = true
[init]
	defaultBranch = main
[color]
	ui = true
[commit]
	signoff = true
	verbose = true
[rebase]
	autoStash = true
[checkout]
	defaultRemote = origin
[branch]
	sort = -committerdate
[github]
	user = SauravMaheshkar
[alias]
	s = status
	del = branch -D
	cob = checkout -b
	last = log -1 HEAD
	logs = log --show-signature
	branches = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
